/* Estilo geral da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 50px;

}
h1{
    text-align: center;
    margin-top: 20px;
    color: #036811;
}

input{

    margin-bottom: 20px;
    padding: 20px;
    width: 600px;   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type="number"] {
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-inline-start: 50%;
}
#resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: #036811;
}
